@import "./variables.scss";
@import "./mixins/flex.scss";
@import "./mixins/fonts.scss";

html {
	box-sizing: border-box;
}

@font-face {
	@include fontKarlaNormal;
	src: url(/fonts/static/Karla-Regular.ttf);
	font-style: normal;
}

@font-face {
	@include fontKarlaBold;
	src: url(/fonts/static/Karla-Bold.ttf);
	font-style: normal;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

a {
	color: initial;
	text-decoration: none;
}
body {
	@include fontKarlaNormal;
	display: grid;
	place-content: center;
	background-color: $color-light-green;
	font-size: 16px;
	color: hsl(186, 15%, 59%);
	min-height: 100vh;
}

ul li {
	list-style: none;
}
