$color-light-green: hsl(148, 38%, 91%);
$color-green: hsl(169, 82%, 27%);
$color-red: hsl(0, 68%, 56%);
$color-white: hsl(0, 0%, 100%);
$color-medium-grey: hsl(186, 15%, 59%);
$color-dark-grey: hsl(187, 24%, 22%);

// $color-light-green -> body background, radio:active, success-message color
// $color-green -> submit-btn
// $color-red -> form-alert

// $color-white -> form background, submit-btn color
// $color-medium-grey -> inputs border
// $color-dark-grey -> h1, label, submit-btn:hover, success-message background
